@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');

:root {
    --main-color: #5f0c1f;
    --secondary-color: #285a0b;
}

html, body{
	height: 100%;
    margin: 0px;
}

body{
	font-family: 'Roboto', sans-serif;
    display: flex;
    flex-direction: column;
}

main {
    flex: 1 1 auto;
    margin: 50px 5px;
}

.current{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.day-container {
	margin: 20px;
	box-sizing: border-box;
	display: flex;
	flex-direction: column;
	background-color: var(--main-color);
	color: white;
	padding: 20px;
	border-radius: 20px;
	align-items: center;
	justify-content: center;
	font-size: 1.5rem;
	width: 400px;
	height: 400px;
    text-align: center;
}

.letter {
	font-size: 3em;
}

.container-smaller {
	font-size: 1rem;
	height: 200px;
	width: 200px;
	margin: 10px;
}

.letter-smaller {
	font-size: 2em;
}

.upcomming {
	display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.schedule-table {
    border: 3px solid black;
    padding: 0px;
    border-collapse: collapse;
    margin: 0px auto 10px auto;
}

.schedule-table th{
    background-color: var(--main-color);
    color: white;
    padding: 10px;
    font-size: 1.2rem;
}

.schedule-table td{
    border: 3px solid black;
    padding: 10px;
    font-size: 1.1rem;
    text-align: center;
}

.schedule-table .tableside{
    background-color: gray;
    color: white;
    font-weight: bold;
}

.periodset-1g1 {
    background-color: lightgreen;
}

.periodset-1g2 {
    background-color: lightgray;
}

.periodset-2 {
    background-color: skyblue;
}

.organizeset {
    background-color: yellow;
}

.periodset-1-cte-green {
    background-color: lightgreen;
}

.periodset-1-cte-gold {
    background-color: gold;
}

.periodset-1-cte-shop {
    background-color: sandybrown;
}

.schedules {
    margin: 20px 0px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

.current-day-container {
    width: 30%;
}

.schedule-header {
    font-size: 2rem;
    text-align: center;
    font-weight: bold;
    margin-bottom: 10px;
}

header {
    font-size: 3rem;
    text-align: center;
    padding: 20px 10px;
    background-color: var(--main-color);
    color: white;
    flex: 0 1 auto;
}

nav {
    background-color: var(--secondary-color);
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
}

nav a {
    display: block;
    color: white;
	font-size: 1.1rem;
	color: white;
	text-align: center;
	padding: 15px;
	text-decoration: none;
}

nav a:hover {
    color: black;
    background-color: white;
}

.notice {
    font-size: 1.3rem;
    text-align: center;
    padding: 10px;
    background-color: red;
    color: white;
    font-weight: bolder;
    text-transform: uppercase;
}

#created-by {
    text-align: center;
    font-size: 2rem;
    padding: 10px;
}

footer {
    padding: 10px;
    color: white;
    background-color: var(--secondary-color);
    text-align: center;
    font-size: 1.3rem;
    flex: 0 1 auto;
}

footer div{
    margin: 10px;
}

.upcomming-header {
    font-size: 3rem;
    text-align: center;
}

footer a, #contact {
    color: white;
    transition: color 0.25s ease-in-out;
    text-decoration: underline;
}

footer a:hover, #contact:hover{
    color: lightblue;
    text-decoration: underline;
}

.no-school{
    text-align: center;
}

@media screen and (max-width: 400px) {
    .schedule-table th{
        padding: 5px;
        font-size: 1rem;
    }

    .schedule-table td{
        padding: 5px;
        font-size: 1rem;
    }

}

@media screen and (max-width: 400px) {
    .schedule-table th{
        padding: 5px;
        font-size: 0.8rem;
    }

    .schedule-table td{
        padding: 5px;
        font-size: 0.8rem;
    }

}
.closed {
    text-align: center;
    font-size: 4rem;
    margin: 0px 50px;
}

.signature {
    margin-top: 30px;
    text-align: right;
    font-size: 2rem;
}
